@import "~antd/dist/antd.css";

.app-github-footer {
  text-align: center;
}

.app-github-root-header {
  align-items: center;
  display: flex;
  background-color: #096dd9;
}

.app-github-list-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2em 0;
}

.app-github-root-content {
  padding: 0 3em;
}

.app-github-content {
  background: #fff;
  padding: 1.6em;
  min-height: 20em;
}

.app-github-content-title {
  margin: 0 0 1em 0;
  font-size: 2em;
}

.app-github-filter {
  display: flex;
}
.app-github-filter .app-github-filter-search {
  width: 35em;
}
.app-github-filter .app-github-filter-lang {
  width: 15em;
  margin: 0 1em 0 0;
}

.app-github-repository-listitem .ant-card-head-title {
  display: flex;
  align-content: center;
}

.app-github-repository-listitem .ant-avatar,
.app-github-repository-listitem .app-github-rep-li-name {
  margin: 0 1.5em 0 0;
}

.app-github-repository-listitem .app-github-rep-li-name {
  flex-grow: 1;
  font-size: 1.3em;
  padding: 0;
}

.app-github-stargazers,
.app-github-forks {
  display: flex;
  align-items: center;
}
* + .app-github-stargazers,
* + .app-github-forks {
  margin-left: 1em;
}
.app-github-stargazers .anticon,
.app-github-forks .anticon {
  margin: 0 0.5em 0 0;
}

.app-github-list-box .app-github-reps-pagination:first-child,
.app-github-list-box .app-github-list-list {
  margin: 0 0 1em 0;
}

.app-github-list-box * + .app-github-list-item {
  margin-top: 1.5em;
}

.app-github-details-list {
  margin: 1em 0 0 0;
}

dt,
dd {
  display: inline;
  margin: 0 0.5em 0 0;
}

dt:after {
  content: ":";
}

.centered {
  text-align: center;
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 10;
}
